# environment variables
.env
# certification file
csr.conf
ca.*
server.key
cert*
*.conf
*.pem

# open ssl
server.*

#credentials
wideops-terraform-provisioning-e7cac86a62b9.*

# Terraform related files
/.terraform
.terraform.*
terraform.tfstate
terraform.tfstate.backup

# stress test file
stress_test.*

# script files
selfsignedcertificate.sh